# ==============================
#           BEST TEAM
# ==============================

# Gradle files
/.gradle/
/gradle/
!gradle/wrapper/gradle-wrapper.jar

# Build outputs
/build/
/out/

# IDE specific files (IntelliJ IDEA)
*.iml
/.idea/

# Compiled class files
*.class

# Generated JARs
*.jar