# ==============================
#           BEST TEAM
# ==============================

# Gradle files
.gradle/
build/
gradle/
!gradle/wrapper/gradle-wrapper.jar

# Build outputs
/build/
/out/
/target/

# IDE specific files (IntelliJ IDEA)
*.iml
.idea/

# Compiled class files
*.class

# Generated JARs
*.jar